html,
body {
    height: 100%;
    background: #e2e7eb;
}

.winp {
    width: 1200px;
    margin: 0 auto;
}

.baner {
    overflow: hidden;
}


// .adsorb {
//     display: none;
//     border: 1px solid #f2f2f2;
//     background-color: #fff;
//     font-size: 12px;
//     top: 0;
//     position: fixed;
//     z-index: 666;
//     left: 156px;

//     // 查询
//     .inquire {
//         width: 100%;
//         height: 36px;
//         background: #fff;
//         box-sizing: border-box;

//         .inquire_right {
//             width: 50%;
//             height: 36px;
//             background: #fff;
//             float: left;
//             line-height: 36px;
//             font-size: 12px;


//             .inquire_list {
//                 li {
//                     position: relative;

//                     a {
//                         display: block;
//                         float: left;
//                         color: #555;
//                         padding: 0 10px;
//                         border-right: 1px solid #ccc;
//                     }

//                     .inquire_list_span {
//                         position: absolute;
//                         display: inline-block;
//                         width: 8px;
//                         height: 9px;
//                         right: 468px;
//                         top: 14px;

//                         .up_triangle {
//                             display: block;
//                             border: 4px solid #ccc;
//                             border-left-color: transparent;
//                             border-right-color: transparent;
//                             font-size: 0;
//                             margin-bottom: 2px;
//                             border-bottom: 0;
//                         }

//                         .down_triangle {
//                             display: block;
//                             border: 4px solid #ccc;
//                             border-left-color: transparent;
//                             border-right-color: transparent;
//                             font-size: 0;
//                             margin-bottom: 2px;
//                             border-top: 0;
//                         }
//                     }



//                 }

//                 .ascending {
//                     float: left;

//                 }


//                 .ascendings {
//                     width: 93px;
//                     height: 36px;
//                 }

//                 .order {
//                     float: left;
//                     width: 93px;
//                     height: 36px;
//                 }


//                 li:hover a {
//                     color: #ec1611;
//                 }


//                 li:hover .inquire_list_span .up_triangle {
//                     display: block;
//                     border: 4px solid #ec1611;
//                     border-left-color: transparent;
//                     border-right-color: transparent;
//                     font-size: 0;
//                     margin-bottom: 2px;
//                     border-bottom: 0;
//                 }
//             }
//         }




//     }


// }




#nav {
    height: 100%;

    // 店铺活动
    .activity {
        height: 45px;
        width: 1200px;
        background: #e2e7eb;

        .activity_right {
            width: 50%;
            height: 45px;
            float: left;
            background: #e2e7eb;
            font-size: 14px;
            color: #ec1611;
            line-height: 43px;

            .activity_type {
                float: left;
                padding: 5px 10px;
                border: 1px solid #ec1611;
                line-height: 15px;
                margin-top: 7px;
            }

            .activity_commty {
                display: inline-block;
                margin-left: 15px;
            }
        }

        .activity_left {
            width: 50%;
            height: 45px;
            float: left;
            background: #e2e7eb;
            position: relative;

            .enshrine {
                font-size: 14px;
                color: #ccc;
                line-height: 43px;
                display: inline-block;
                background: url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) no-repeat -493px -64px;
                font: 12px/16px "microsoft yahei";
                padding-left: 18px;
                cursor: pointer;
                color: #999;
                position: absolute;
                right: 8px;
                bottom: 10px;
            }
        }
    }

    // 查询
    .inquire {
        margin: 15px 0 20px 0;
        width: 100%;
        height: 36px;
        background: #fff;

        .inquire_right {
            width: 50%;
            height: 36px;
            background: #fff;
            float: left;
            line-height: 36px;
            font-size: 12px;


            .inquire_list {
                li {
                    position: relative;

                    a {
                        display: block;
                        float: left;
                        color: #555;
                        padding: 0 10px;
                        border-right: 1px solid #ccc;
                    }

                    .inquire_list_span {
                        position: absolute;
                        display: inline-block;
                        width: 8px;
                        height: 9px;
                        right: 468px;
                        top: 14px;

                        .up_triangle {
                            display: block;
                            border: 4px solid #ccc;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            font-size: 0;
                            margin-bottom: 2px;
                            border-bottom: 0;
                        }

                        .down_triangle {
                            display: block;
                            border: 4px solid #ccc;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            font-size: 0;
                            margin-bottom: 2px;
                            border-top: 0;
                        }
                    }



                }

                .ascending {
                    float: left;

                }


                .ascendings {
                    width: 93px;
                    height: 36px;
                }

                .order {
                    float: left;
                    width: 93px;
                    height: 36px;
                }


                li:hover a {
                    color: #ec1611;
                }


                li:hover .inquire_list_span .up_triangle {
                    display: block;
                    border: 4px solid #ec1611;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    font-size: 0;
                    margin-bottom: 2px;
                    border-bottom: 0;
                }
            }
        }




    }

    .sucking {
        position: fixed;
        top: 0;
        left: 168px;
    }

}

.find {
    float: left;
    color: #fff;
    width: 45px;
    height: 36px;
    background: #C00;

    a {
        color: #fff !important;
    }
}

input {
    margin: 13px 0 0 20px;
    float: left;
}



.inquire_left {
    width: 50%;
    height: 36px;
    background: #fff;
    float: left;
    position: relative;

    .inquire_span {
        position: absolute;
        right: 130px;
        top: 8px;
        font-size: 13px;
    }

    .count_dow_box {
        width: 130px;
        background: #ffff;
        height: 36px;
        float: right;

        .count_down {
            margin-top: 11px;
            font-size: 12px;
            line-height: 1;
            color: #313131;
            text-align: center;
            width: 120px;
            white-space: nowrap;
            font-family: "微软雅黑";
            font-weight: bold;
        }

        .hour,
        .min,
        .sec {
            margin-left: 9px;
        }
    }

}



// 商品列表
.product_list_cont {
    width: 100%;

    .product_list_cont_ul {
        background: #e2e7eb;
        // height: 14033px;

        .product_list_cont_li {
            width: 275px;
            height: 360px;
            position: relative;
            display: inline;
            float: left;
            z-index: 100;
            margin: 0 12px 30px;
            text-align: left;
            line-height: 20px;
            background: #e2e7eb;

            .product_list_cont_box {
                height: 100%;
                width: 100%;
                background: #e2e7eb;


                .product_list_cont_img {
                    width: 275px;
                    height: 275px;

                    img {
                        width: 275px;
                    }
                }


                .product_list_cont_h2 {
                    box-sizing: border-box;
                    padding: 5px 10px 0 12px;
                    height: 20px;
                    width: 275px;
                    color: #666;
                    text-align: left;
                    font: 12px/20px Arial, "microsoft yahei";
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background-color: #fff;
                    overflow: hidden;

                    a {
                        color: #313131;
                    }
                }

                .product_list_cont_h4 {
                    box-sizing: border-box;
                    width: 275px;
                    position: relative;
                    height: 41px;
                    padding: 1px 12px;
                    text-align: left;
                    background: #fff;
                    line-height: 35px;
                    overflow: hidden;
                    white-space: nowrap;
                    z-index: 999;

                    i {
                        font-family: Arial, "Microsoft Yahei", Arial;
                        font-weight: 400;
                        font-size: 12px;
                        color: #ec1611;
                    }

                    em {
                        display: inline-block;
                        height: 30px;
                        padding-right: 5px;
                        line-height: 30px;
                        color: #ec1611;
                        font-weight: 400;
                        letter-spacing: -2;
                        font: 22px/33px Arial;
                    }

                    span {
                        font-size: 12px;
                        color: #999;
                        font-family: "microsoft yahei";
                        text-decoration: line-through;

                    }

                    .promotion {
                        max-width: 140px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        position: relative;
                        top: 1px;
                        height: 14px;
                        background: #ff6767;
                        color: #FFF;
                        font-size: 10px;
                        -webkit-transform: scale(0.83);
                        display: inline-block;
                        *display: inline;
                        margin: 10px 0 0;
                        padding: 0 2px;
                        line-height: 14px;
                        border-radius: 0;
                        font-family: "微软雅黑";
                        text-align: center;
                        vertical-align: top\9;
                    }

                    .fate {
                        position: absolute;
                        top: 8px;
                        width: 70px;
                        height: 20px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: right;
                        display: block;
                        right: 10px;
                        font: 12px/12px "microsoft yahei";
                        color: #999;
                        line-height: 21px;
                        z-index: 1001;

                    }
                }

                .product_list_cont_botton {
                    border-top: 1px dashed #ccc;
                    box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd;
                    display: none;
                    padding: 2px 8px 2px 12px;
                    position: relative;
                    background-color: #fff;
                    height: 25px;
                    line-height: 25px;
                    box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd;
                    left: 0;
                    font-family: "Microsoft Yahei";
                    font-size: 12px;
                    width: 275px;
                    box-sizing: border-box;

                    .product_list_cont_botton_list {
                        width: 75%;
                        height: 25px;
                        color: #ff6767;
                        line-height: 26px;
                        display: inline-block;
                        font-family: 'Microsoft Yahei';

                        i {
                            display: inline-block;
                            position: relative;
                            bottom: -2px;
                            width: auto;
                            height: 12px;
                            border-right: 1px solid #ff8d8d;
                            padding-right: 5px;
                            background: 0 0;
                            margin-right: 5px;
                        }
                    }

                    .product_list_cont_botton_span {
                        position: absolute;
                        right: 4px;
                        top: 2px;
                        height: 22px;
                        width: 73px;
                        display: inline-block;
                        font-family: "microsoft yahei";
                        background: url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) no-repeat -493px -59px;
                        outline: 0;
                        text-align: right;
                        color: #999;
                        overflow: hidden;
                    }
                }
            }

            .product_list_cont_box:hover {
                box-shadow: 0 0 20px 1px #ccc;
            }

            .product_list_cont_box:hover .product_list_cont_botton {
                display: block;
            }
        }
    }
}

#halving {
    float: left;
    width: 100%;
    height: 45px;
    color: #ec1611;
    background: url(//z5.tuanimg.com/v2/ju/img/brand_border.png) repeat-x left bottom;
    font: 20px/45px 'microsoft yahei';
    text-align: left;
    margin-bottom: 15px;

    .halving_tile {
        display: inline-block;
        width: 20px;
        height: 18px;
        background: url(//z5.tuanimg.com/v2/ju/img/brand_title.png) 41px 0px;
        // background-position-x: 0%;
        // background-position-y: 0%;
        margin-right: 8px;
        position: relative;
        top: 1px;
    }
}

#links {
    width: 100%;
    float: left;

    .links_box {
        height: 225px;



        .links_cont {

            // 列表标题
            .links_tileti {
                width: 100%;
                height: 45px;
                // background: #58bc58;
                padding-top: 12px;
                box-sizing: border-box;
                overflow: hidden;
                border-bottom: 1px solid #ccc;

                .links_headline {
                    float: left;
                    height: 17px;
                    padding-right: 12px;
                    border-right: 1px solid #ccc;
                    line-height: 16px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #ff6767;
                    border-right: 1px solid #ccc;
                }

                .links_time {
                    float: left;
                    height: 17px;
                    padding-left: 36px;
                    line-height: 16px;
                    font-size: 12px;
                    color: #666;
                    background: url(//z5.tuanimg.com/v2/ju/img/clock2.png) 12px 0 no-repeat;
                }

                .count_down {
                    font-size: 12px;
                }
            }

            // 列表内容
            .links_list {
                width: 100%;
                height: 255px;
                background: #e2e7eb;
                padding: 20px;

                overflow: hidden;
                height: 235px;
                position: relative;

                .links_list_li {
                    margin-bottom: 10px;
                    font-family: "microsoft yahei";
                    float: left;
                    margin: 0 10px;

                    .links_list_img {
                        width: 180px;
                        height: 180px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .links_introduce {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 170px;
                            height: 25px;
                            padding: 0 5px;
                            line-height: 25px;
                            text-align: center;
                            font-size: 13px;
                            font-weight: 400;
                            color: #fff;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            background: url(//z5.tuanimg.com/v2/ju/img/shortTitle_bg.png) 0 0 repeat;
                        }
                    }

                    .links_list_text {
                        width: 180px;
                        height: 31px;
                        padding: 2px 0;
                        font-size: 12px;
                        color: #666;
                        background: #fff;
                        text-align: center;
                        line-height: 31px;
                    }

                    .links_list_span {
                        font-size: 14px;
                        color: #fd4700;

                        em {
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

}


#feet {
    position: absolute;
    width: 100%;
    height: 301px;
    left: 0;
}