@charset "UTF-8";
html,
body {
  height: 100%;
}

.winp {
  width: 1200px;
  margin: 0 auto;
}

.foot {
  font-family: "microsoft yahei";
  position: relative;
  border-top: 3px solid #ec1611;
  background: #ffff;
  width: 100%;
  height: 500px;
}

.foot .foot-cont .footer {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: #555;
}

.foot .foot-cont .footer a {
  color: #ec1611;
}

.foot .foot-cont .foot_ul {
  height: 308px;
}

.foot .foot-cont .foot_ul .lw {
  float: left;
  width: 80px;
  text-align: left;
  padding: 28px 0 0;
  height: 270px;
  line-height: 24px;
  margin: 0 60px;
  text-align: center;
}

.foot .foot-cont .foot_ul .lw .show_icon {
  margin-bottom: 14px;
}

.foot .foot-cont .foot_ul .lw .aboutus {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_icon.png) 0 0 no-repeat;
}

.foot .foot-cont .foot_ul .lw .shopguide {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_icon.png) -95px 0 no-repeat;
}

.foot .foot-cont .foot_ul .lw .busscom {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_icon.png) 0 -95px no-repeat;
}

.foot .foot-cont .foot_ul .lw .usersafe {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_icon.png)-190px 0 no-repeat;
}

.foot .foot-cont .foot_ul .lw a {
  font-size: 13px;
  display: block;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  width: 85px;
}

.foot .foot-cont .foot_ul .lw a:hover {
  color: #ec1611;
}

.foot .foot-cont .foot_ul .w3 {
  float: left;
  width: 137px;
  text-align: left;
  padding: 28px 0 0;
  height: 270px;
  line-height: 24px;
  margin: 0 20px;
}

.foot .foot-cont .foot_ul .w3 .blac {
  display: inline;
}

.foot .foot-cont .foot_ul .w3 .nexttothere {
  margin-bottom: 14px;
  display: block;
  width: 80px;
  height: 80px;
  background: url(../img/foot_icon.png)-190px 0px no-repeat;
}

.foot .foot-cont .foot_ul .w3 h4,
.foot .foot-cont .foot_ul .w3 h3,
.foot .foot-cont .foot_ul .w3 h5,
.foot .foot-cont .foot_ul .w3 h6 {
  display: inline-block;
  font-size: 12px;
  width: 120px;
  height: 24px;
  line-height: 24px;
  color: #999;
}

.foot .foot-cont .foot_ul .w3 h4 a,
.foot .foot-cont .foot_ul .w3 h3 a,
.foot .foot-cont .foot_ul .w3 h5 a,
.foot .foot-cont .foot_ul .w3 h6 a {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  color: #ec1611;
}

.foot .foot-cont .foot_ul .w3 h4 a:hover,
.foot .foot-cont .foot_ul .w3 h3 a:hover,
.foot .foot-cont .foot_ul .w3 h5 a:hover,
.foot .foot-cont .foot_ul .w3 h6 a:hover {
  color: #ec1611;
}

.foot .foot-cont .foot_ul .w3 h4 .txt,
.foot .foot-cont .foot_ul .w3 h3 .txt,
.foot .foot-cont .foot_ul .w3 h5 .txt,
.foot .foot-cont .foot_ul .w3 h6 .txt {
  height: 21px;
  line-height: 21px;
  width: 98px;
  padding-left: 5px;
  color: #ccc;
  font-family: "微软雅黑";
  border: 1px solid #ccc;
}

.foot .foot-cont .foot_ul .w3 h4 .smt,
.foot .foot-cont .foot_ul .w3 h3 .smt,
.foot .foot-cont .foot_ul .w3 h5 .smt,
.foot .foot-cont .foot_ul .w3 h6 .smt {
  border: 1px solid #ccc;
  position: absolute;
  height: 23px;
  line-height: 23px;
  width: 42px;
  cursor: pointer;
  color: #999;
  font-family: "微软雅黑";
}

.foot .foot-cont .foot_ul .w3 a {
  font-size: 13px;
  color: #999;
}

.foot .foot-cont .foot_ul .w4 {
  float: left;
  width: 137px;
  text-align: left;
  padding: 28px 0 0;
  height: 270px;
  line-height: 24px;
  margin: 0 40px;
  text-align: center;
}

.foot .foot-cont .foot_ul .w4 span {
  font-size: 13px;
}

.foot .foot-cont .foot_ul .w4 .bottom_qrcode_wrapper {
  margin-top: 6px;
  width: 104px;
  height: 220px;
  margin: 0 auto;
  background: url(../img/footer_code.png) 0 0 no-repeat;
}
