html,
body {
    height: 100%;
}

.winp {
    width: 1200px;
    margin: 0 auto;
}

// nav轮播图选项卡
.nav_conrt {
    height: 304px;

    // background: #58a;
    // 选项
    .tab_Conter {
        // width: 420px;
        height: 304px;
        position: relative;
        float: left;

        //选项卡
        .tab_menu_bar {
            width: 137px;
            height: 304px;
            background: #ffff;
            float: left;

            .tab_big {
                height: 304px;
                text-align: center;
                padding: 0 5px;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;

                .tab_list_li {
                    border-bottom: 1px solid #ccc;
                    width: 120px;
                    height: 26px;
                    font-size: 15px;
                    padding: 2px 0;

                    a {
                        color: #555;
                        margin: 0 5px;
                    }
                }

                .tab_list_li:hover {
                    background: #C00;
                }

                .tab_list_li:hover a {
                    color: #ffff;
                }

                .tab_list_last {
                    position: relative;
                    width: 130px;
                    font-size: 12px;
                    line-height: 29px;
                    height: 29px;

                    a {

                        line-height: 12px;
                        color: #555;
                    }

                }

                .tab_list_last:hover a {
                    color: #C00;
                }



                .tab_list_last_botton {
                    border-top: 1px solid #555;
                    font-size: 14px;
                }
            }
        }

        .tab_body {
            display: none;
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 10px 6px;
            width: 380px;
            height: 304px;
            background: #ffff;
            position: absolute;
            top: 0;
            left: 137px;
            z-index: 2;

            .tab_bady_list {
                box-sizing: border-box;
                padding: 8px;
                width: 197px;
                height: 290px;
                background: #ffff;
                margin-right: 20px;
                float: left;


                .tab_bady_tile {
                    color: #C00;
                    height: 32px;
                    line-height: 32px;
                    text-align: left;
                    font-family: "microsoft yahei";
                    font-size: 14px;
                    font-weight: 400;
                    border-bottom: 1px solid #e5e5e5;
                }

                .tab_bady_ul {
                    width: 180px;
                    height: 105px;
                    overflow: hidden;
                    background: #ffff;


                    li {
                        float: left;
                        width: auto;
                        height: 12px;
                        margin: 3px 14px 6px 0;
                        border: 0;
                        line-height: 14px;
                        font-family: "microsoft yahei";
                        font-size: 12px;
                        background-color: #fff;

                        a {
                            color: #555;
                        }

                        a:hover {
                            color: #C00;
                        }
                    }
                }

            }



            .tab_body_img {
                width: 140px;
                height: 270px;
                background-color: #fff;
                float: left;

                .tab_body_img-cont,
                .tab_body_img-top,
                .tab_body_img-botton {
                    width: 140px;
                    height: 93px;

                    .img-con,
                    .img-top {
                        margin: 4px 0;
                        width: 140px;
                        height: 90px;
                    }

                    .img-cont {
                        margin: 4px 0;
                        width: 140px;
                        height: 90px;
                    }
                }


            }
        }

        .avten {
            display: block;
        }

    }

    //轮播图
    .baenr {
        width: 951px;
        height: 304px;
        background: #ccc;
        float: left;
        position: relative;

        .baenr_button {
            width: 100%;
            height: 20px;
            position: absolute;
            top: 95%;
            z-index: 3;
            text-align: center;

            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: #efefef;
                margin: 0 10px;
                border-radius: 20px;

                em {
                    opacity: 0;
                }
            }


            .avteng {
                background: #C00;
            }
        }

        .slider_main {
            width: 100%;
            height: 100%;
            position: relative;


            .baenr_li {
                display: none;
                width: 951px;
                height: 304px;
                position: absolute;
                top: 0;
                left: 0;


                .smalimg {
                    width: 137px;
                    margin-right: 0;
                    height: 137px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    .smalimg-last {
                        width: 162px;
                        height: 150px;
                        margin-bottom: 10px;
                        overflow: hidden;
                        position: absolute;
                        top: 140px;
                        right: 0px;

                    }


                    .smalimg_img {
                        width: 137px;
                        height: 137px;
                        margin-bottom: 10px;
                        overflow: hidden;
                        position: absolute;
                        top: 20px;
                        right: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .smalimg_img-last {
                        width: 137px;
                        height: 137px;
                        margin-bottom: 10px;
                        overflow: hidden;
                        position: absolute;
                        top: 163px;
                        right: 20px;


                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                }

            }

            .naenr_li_img {
                width: 951px;
                height: 304px;
            }
        }

    }

    .promise {
        float: left;
        width: 110px;
        height: 304px;
        background: #fff;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        box-sizing: border-box;

        .promise_img {
            margin-right: 40px;
            width: 100px;
            height: 35%;

            img {
                width: 50px;
                height: 50px;
                margin-left: 32px;
            }

            span {
                margin-left: 25px;
                display: inline-block;
                width: 150px;
                font-size: 12px;
                color: #C00;
            }
        }

    }
}

// 商品介绍栏
.nav_list {
    margin-top: 30px;
    width: 100%;

    .nav_list_box {
        height: 380px;
        background: #fff;


        .nav_list_tilet {
            box-sizing: border-box;
            height: 44px;
            background: #fff;
            border-bottom: 1px solid #C00;


            .nav_list_h2 {
                float: left;
            }

            .nav_list_span {
                position: relative;
                margin-top: 7px;
                display: inline-block;
                width: 140px;
                height: 19px;
                font-size: 14px;

                i {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background: #C00;
                    position: absolute;
                    left: -11px;
                    top: 5px;
                    border-radius: 20px;
                }


            }
        }


        .dependence {
            width: 447px;
            height: 44px;
            float: right;


            .nav_list_li {
                float: left;
                line-height: 44px;
                padding-left: 10px;
                color: #333;
                font-size: 14px;
                font-family: "microsoft yahei";
                width: inherit;
                background: 0 0;
                margin: 0;
                top: 0;
            }

            .nav_list_li:hover {
                color: #C00;
            }

            .nav_list_li:last-child {
                font-size: 16px;
                width: 76px;
                height: 44px;
                color: #fff;
                background-color: #C00;
            }
        }


        .therephotograph {
            width: 100%;
            height: 200px;
            background: #fff;

            .therephotograph_img {
                width: 369px;
                height: 200px;
                position: relative;
                float: left;



                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

                .therephotograph_span {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    height: 25px;
                    font: 12px/25px '微软雅黑';
                    text-align: center;
                    color: #FFF;
                    background: rgba(5, 8, 9, .45);
                    *background: #050809;
                }
            }

            .cont {
                margin: 0 46px;
            }
        }

        .therephotograph_img:hover {
            box-shadow: 0 0 30px 1px #999;
            border: 0;
            transition: box-shadow .8s;
        }

        .merchant {
            width: 100%;
            height: 120px;
            background: #efefef;

            .merchant_li {
                background: #ccc;
                float: left;
                width: 120px;
                height: 60px;
                position: relative;
                text-align: center;

                a {
                    img {
                        width: 100%;
                    }
                }

                a:hover {
                    position: absolute;
                    left: -3px;
                    top: 0;
                    z-index: 99;
                    width: 126px;
                    height: 60px;
                    overflow: hidden;
                }
            }
        }


    }





}

// 商品列表
.catalogue {
    margin-top: 30px;
    width: 100%;

    .catalogue-contt {
        height: 300px;
        background: #fff;
        overflow: hidden;

        .purchase {
            height: 35px;
            background: #fff;
            border-bottom: 1px solid #C00;

            .purchase_img {
                float: left;
            }

            .purchase_span {
                position: relative;
                margin-top: 7px;
                display: inline-block;
                width: 140px;
                height: 19px;
                font-size: 14px;

                i {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background: #C00;
                    position: absolute;
                    left: -11px;
                    top: 5px;
                    border-radius: 20px;
                }

            }
        }





    }


    .topurchase {
        width: 586px;
        height: 35px;
        background: #ffff;
        float: right;

        li {
            float: left;
            width: 73px;
            line-height: 35px;
            font-size: 12px;
            text-align: center;
        }

        li:hover {
            background: #C00;
            color: #FFF;
        }

        li:last-child {
            background: #C00;
            color: #FFF;
        }

    }

    .nxte_pvte {
        width: 100%;
        height: 30px;
        position: absolute;
        top: 128px;

        .lookup {
            position: absolute;
            left: 0;
            top: 906px;
            z-index: 999;
        }

        .down {
            position: absolute;
            top: 906px;
            left: 1164px;
            z-index: 999;
        }
    }

    .cataloguepar {
        position: relative;

        .catalogue_ul {
            width: 23200px;
            height: 250px;
            left: 0;
            background: #fff;
            position: absolute;
            border-bottom: 1px solid #ccc;

            .catalogue_ul_li {
                height: 100%;
                width: 177px;
                margin-right: 25px;
                background: #ffff;
                float: left;
                z-index: 1;

                .catalogue-text {
                    width: 177px;
                    height: 100%;
                    background: #ffff;
                    float: left;
                    margin-right: 15px;


                    .catalogue-img {
                        width: 185px;
                        height: 185px;
                        position: relative;

                        img {
                            width: 177px;
                            height: 100%;
                            z-index: 0;
                            float: left;
                        }

                        .catalogue-img_hint {
                            display: none;
                            z-index: 1;
                            position: absolute;
                            bottom: 0;
                            width: 96%;
                            height: 0px;
                            font-size: 12px;
                            color: #fff;
                            background: rgba(36, 33, 33, 0.336);
                            text-align: center;
                            transition: 0.4S;
                        }

                    }

                    .price {
                        width: 100%;
                        color: #C00;
                        font-weight: 600;
                        margin: 8px 0;
                        font-size: 15px;
                    }

                    .introduce {
                        color: #333;
                        width: 185px;
                        font-size: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                }

                .catalogue-text:hover .catalogue-img_hint {
                    display: block;
                    height: 20px;
                }

                .catalogue-text:hover {
                    box-shadow: 0 0 30px 1px #999;
                    border: 0;
                    transition: box-shadow .8s;
                }

            }
        }
    }
}

// 五件商品
.commodity-hou {
    width: 100%;

    .commodity-hou__box {
        height: 200px;
        background: #58bc58;
        position: relative;

        .commodity-tileit {
            width: 100%;
            height: 44px;
            background: #fff;

            .commodity-tileit_h2 {
                float: left;
                margin: 10px 0 0 10px;
            }

            .commodity-tileit_span {
                display: inline-block;
                line-height: 44px;
                font-size: 12px;

                em {
                    display: block;
                    width: 6px;
                    height: 6px;
                    background: #C00;
                    border-radius: 10px;
                    position: absolute;
                    bottom: 175px;
                    left: 160px;
                }

                i {
                    color: #555;
                    margin: 0 10px;
                }

                a {
                    color: #555;
                    padding: 0 5px;
                    border-left: 1px solid #555;
                    border-right: 1px solid #555;
                }

                i:hover {
                    color: #C00
                }


                a:hover {
                    color: #C00
                }
            }
        }
    }

    .commodity-hou_img_list {
        width: 1300px;
        height: 159px;
        background: #fff;
        text-align: center;

        .commodity-hou_li {
            width: 220px;
            height: 159px;
            background: #ccc;
            margin: 0 15px;
            float: left;

            img {
                width: 100%;
                height: 159px;
            }
        }

        .commodity-hou_li:hover {
            box-shadow: 0 0 30px 1px #999;
            border: 0;
            transition: box-shadow .8s;

        }

    }


}

//模糊查询
.mian_list {
    width: 100%;

    .mian_lis_cnter {
        border-bottom: 1px solid #c00;

        .mian_lis_cnter_tile {
            height: 42px;
            background: #ffff;
            position: relative;


            .mian_lis_cnter_h2 {
                position: absolute;
                left: 18px;
                top: 12px
            }

            .mian_lis_cnter_sapn {
                position: absolute;
                top: 19px;
                left: 187px;
                color: #555;

                em {
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background: #C00;
                    border-radius: 6px;
                    margin-right: 10px;
                }
            }

            .mian_lis_cnter_tile_ul {
                width: 380px;
                height: 41px;
                background: #fff;
                float: right;

                .mian_box {
                    float: left;

                    li {
                        float: left;
                        line-height: 46px;
                        margin: 0 5px;
                        font-size: 13px;
                        padding: 0 7px;

                    }

                    em {
                        display: inline-block;
                        width: 1px;
                        height: 13px;
                        position: absolute;
                        background: #ccc;
                        top: 18px;
                    }

                    li:hover {
                        color: #C00;
                    }
                }

                .rank {
                    margin-left: 8px;
                    width: 130px;
                    height: 44px;
                    float: left;

                    a {
                        font-size: 13px;
                        color: #555;
                        line-height: 44px;
                        margin: 0 7px;
                    }

                    .rank_a {
                        display: inline-block;
                        background: #C00;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        line-height: 44px;
                        text-align: center;
                    }

                    a:hover {
                        color: #C00;
                    }
                }

            }

        }
    }
}

// 底部列表
.mian_commit {
    width: 100%;
    background: #f2f2f2;


    .mian_commit_list {
        background: #f2f2f2;
        height: 8627px;

        .mian_commit_box {
            float: left;
            width: 250px;
            height: 345px;
            margin: 0 11px 30px;

            .mian_commit_box_img {
                width: 250px;
                height: 283px;
                font-size: 0;
                display: block;
                background-color: #fff;

                img {
                    height: 100%;
                    width: 100%;
                }
            }


            .mian_commit_bott,
            .mian_commit_tiem {
                width: 250px;
                height: 30px;
                padding: 0 10px;
                background: #fff;
                box-sizing: border-box;
                font-size: 12px;
                position: relative;

                .mian_commit-text {
                    color: #666;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 30px;
                }


                .mian_commit-are {
                    line-height: 30px;
                    float: right;
                    color: #999;
                }


                h2 {
                    font-size: 16px;
                    color: #ec1611;
                    display: inline-block;
                    width: 194px;
                    height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }

                p {
                    position: absolute;
                    top: 0;
                    right: 12px;
                    display: inline-block;
                    background: url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) no-repeat -493px -64px;
                    font: 12px/14px "microsoft yahei";
                    padding-left: 18px;
                    cursor: pointer;
                    margin-top: 10px;
                    color: #999;
                    z-index: 1;
                }

            }


        }

        .mian_commit_box:hover {
            box-shadow: 0 0 30px 1px #999;
            border: 0;
            transition: box-shadow .8s;
        }


    }
}